body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
     font-family: "Microsoft Yahei",sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 18px;
    &:focus {
        outline: none;
    }
}

html,body{
   
    background-color: #F5F5F5;
   
  
}

img{
  border: 0;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.body-main{
   
    width: 100%;
    border: 0;
}
.service_btn{
    display: inline-block;
    padding: 2px 7px;
    border: 1px solid #fc543c;
    border-radius: 5px;
    text-align: center;
    img{
        position: relative;
        display: inline-block;
        top: 3px;
    }
    span{
        color: #fc534c;
        font-size: 12px;
        font-weight: bold;
    }
}

/*跟投modal的css*/
.followDialog .el-dialog{
    width: 800px;
}
.followDialog .el-dialog__header {
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}
.followDialog .el-dialog__header span {
    font-size: 18px;
    height: 50px;
}
.followDialog .el-dialog__header .el-dialog__close {
    font-size: 16px;
}
.followDialog .el-dialog__body {
    padding: 20px 20px;
}
.followContent .followStyle .style_title .style1 {
    width: 22px;
    height: 22px;
    border-radius: 14px;
    background:#FC534C;
    color: #FFF;
    line-height: 22px;
    text-align: center;
    margin-right: 6px;
    display: inline-block
}
.followContent .followStyle .style_title span:nth-of-type(2) {
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 1px;
}
.style_content .style_num {
     width: 370px;
  
    display: inline-block;
    float: left;
      
}
.followContent .num1 {
    background: #fafafa;
    border: 1px solid #ccc;
     height: 94px;   
}
.followContent .num1 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 13px;
}
.followContent .num1 p:nth-of-type(1) {
    font-size: 16px;
    color: #333;
}
.style_content .style_perce {
      width: 370px;
    display: inline-block;
    float: right;
    margin-left: 15px;
}
.followContent .style_title {
    margin-bottom: 15px;
}
.followContent .num2 {
    margin-top: 12px;
}
.followContent .num2 >span:nth-of-type(1) {
    font-size: 16px;
    color: #333;
}
.followContent .num2 >span:nth-of-type(2) {
    display: inline-block;
    margin-left: 3px;
    margin-right: 5px;
}
.followContent .num2>span input {
    height: 24px;
    width: 80px;
}
.style_content:after {
    clear: both;
    display: block;
    content: "";
    visibility: hidden;
    width: 0;
    height: 0;
}
.followContent .followStyle {
     padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}
.followStyle {
    margin-top: 15px;
}
.followContent .followStyle {
    padding-bottom: 25px
}
.followDialog .el-dialog__body {
    padding: 15px 20px;
}
.followDialog .dialog-footer button {
    padding: 7px 26px;
    background: #FC534C;
    color: #fff;
}
.followDialog .dialog-footer button:active {
      background: #FC534C;
    color: #fff;
    border-color: #FC534C
}
.followDialog .dialog-footer {
    display: inline-block
}
.followDialog .el-dialog__footer:after {
    clear: both;
    display: block;
    content: "";
    visibility: hidden;
    width: 0;
    height: 0;
}
.followDialog .el-dialog__footer {
    text-align: left;
}
.num_val .el-input-number__decrease {
    height: 26px;
    line-height: 26px;
    background: #FC534C;
    color: #fff;
}
.num_val .el-input-number__increase {
    height: 26px;
    line-height: 26px;
    background: #FC534C;
    color: #fff;
}

 .followContent .followStyle .followActive {
    background: #FFEDED;
    border: 1px solid #FEBDBB;
}
 .title_img img {
     height: 12px;
     width: 12px;
     transform: rotate(44deg);
 }
 .title_trader {
     color: #FD8A88;
     margin-left: 5px;
 }
 .title_type {
     font-weight: bold;
 }
 .followDialog .dialog-footer .cancelFollow {
    background: #cf9236;
 }
  .followDialog .dialog-footer .cancelFollow:active {
        background: #cf9236;
        border:1px solid #cf9236;
  }

  .page_wrap{
      text-align: center;
      margin-top: 20px;
      .el-pagination{
          color: #666;
          .el-pager li:not(.disabled).active{
              background: #fc543c;
          }
        
      }
  }